<!DOCTYPE html>
<html lang="en" ng-app="dmApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Directmatch Outsourcing</title>
    <meta name="description" content="Directmatch Website"/>
    <meta name="keywords" content="Directmatch, Direct, Match"/>
    <meta name="author" content="Parasolutions"/>
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="css/owl.css">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="css/cardio.css">
    <!--<script src="http://maps.googleapis.com/maps/api/js"></script>-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="bower_components/ng-notify/dist/ng-notify.min.js"></script>
    <script src="bower_components/angular-confirm-modal/angular-confirm.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="plugins/tinymce/tinymce.min.js"></script>
    <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="app/app.js"></script>
    <script src="app/routing.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src="bower_components/ng-facebook/ngFacebook.js"></script>
    <script src="app/factories/globals.js"></script>
    <script src="app/services/mainService.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        var myCenter = new google.maps.LatLng(14.55644538, 121.02571115);

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({
                position: myCenter
            });
            marker.setMap(map);

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body ng-controller="mainController">
<div class="preloader">
    <img src="img/loader.gif" alt="Preloader image">
</div>

<nav class="navbar col-md-12 col-sm-4">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/logo.png" data-active-url="img/logo-active.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <br/>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-nav">
                <li><a href="#intro" style="color: #1967a9">Home</a></li>
                <li><a href="#services" style="color: #1967a9">Our Offers</a></li>
                <li><a href="#blog" style="color: #1967a9">Blogs</a></li>
                <li><a href="#team" style="color: #1967a9">Our Company</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue"> <b
                        style="color: #ffffff">Contact Us</b></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header id="intro">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 col-sm-4 text-center">
                        <h4 class="blue">Are you looking for a Job?</h4>

                        <h2 class="blue typed">We can help you!</h2>
                        <span class="typed-cursor">|</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div>

</div>

<section class="section section-padded" id="services">
    <div class="container">
        <div class="row intro-tables">
            <!--Desktop UI-->
            <!--Desktop UI-->
            <!--Desktop UI-->

            <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
                <br/>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">
                            <h3>WE WELCOME FRESHERS!</h3>
                            <h5 class="light muted">
                                Job openings for Fresh Graduates and Undergraduates are available.
                                Apply as Customer Care or Technical Support!</h5>
                        </div>
                        <div class="col-md-3 col-lg-3  " style="padding:30px ;">
                            <a href="jobList.html" class="btn btn-blue"> <b
                                    style="color: #ffffff">Apply Now</b></a>
                        </div>
                    </div>
                </div>
                <br/>

                <div ng-hide="showJobs === true" class="text-center">
                    <img src="img/loader.gif" alt="Preloader image">
                </div>
                <div class="intro-table intro-table-third" style="height: 300px" ng-show="showJobs === true">
                    <!--<h4 style=" padding: 2%; color: #ffffff">Our Latest Job Offers</h4>-->

                    <!--<div class="bottom">-->
                    <div class="owl-testimonials bottom">
                        <!--Can add item via div item-->
                        <!--Can add item via div item-->
                        <!--Can add item via div item-->
                        <div class="item" ng-repeat="job in jobs">
                            <div class="row">
                                <div class="col=md-4 col-lg-4" ng-repeat="detail in job">
                                    <div style="padding-left: 25px; height: 250px">
                                        <p class="white heading light" style="font-size: 12px; color: #ffffff">
                                        <h4 style="color: white">{{detail.job_title}}</h4>
                                        <b style="font-size: 15px; color: white">
                                            {{detail.job_desc}}
                                        </b>
                                        <br/>

                                        <div style="color: white">
                                            {{detail.salary_range}} <br/>
                                            {{detail.location}}
                                        </div>

                                        </p>
                                    </div>
                                    <div style="text-align: left; padding-left: 25px" class="">
                                        <a class="btn btn-info btn-sm"
                                           style="background-color: #31B9FF; padding: 5px; font-size: 17px"
                                           type="submit">View Job</a>
                                    </div>
                                    <br/>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div style="text-align: right; font-size: 15px" class="white blue col-md-offset-1">
                    <a href="jobList.html" class="fa fa-search" style="cursor: pointer">
                        <b style="font-family: arial">
                            View all
                        </b>
                    </a>
                </div>
            </div>

            <!--MOBILE UI-->
            <!--MOBILE UI-->
            <!--MOBILE UI-->
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <div class="owl-testimonials bottom hidden-md hidden-lg">

                <div class="col-sm-12 col-xs-12">
                    <br/>

                    <div class="row text-center title">
                        <h5>
                            <b>
                                WE WELCOME FRESHERS!
                            </b>

                        </h5>

                        <p style="font-size: 10px">Job openings for Fresh Graduates and Undergraduates are
                            available.
                            Apply as Customer Care or Technical Support!</p>
                        <!--<a href="jobList.html">Apply Now</a>-->
                        <a href="jobList.html" class="btn btn-blue"> <b
                                style="color: #ffffff">Apply Now</b></a>


                    </div>
                    <div class="intro-table intro-table-third" ng-show="showJobs === true">
                        <h5 style=" padding: 10%; color: #ffffff; text-align: center">Our Latest Job Offers</h5>
                        <br/>

                        <div class="owl-testimonials bottom">
                            <div class="item" ng-repeat="jm in jobsMobile">
                                <div>
                                    <div>
                                        <p class="white heading light" style="font-size: 12px; color: #ffffff">
                                            <b style="font-size: 15px">
                                                {{jm.job_title}} <br/>
                                                {{jm.job_desc}}<br/>
                                            </b>

                                        <div style="color: white">
                                            {{jm.salary_range}} <br/>
                                        </div>
                                        </p>

                                        <div style="padding-left: 30px">
                                            <a class="btn btn-info btn-xs" style="background-color: #31B9FF;"></a>
                                            <a href="" target="_blank">here</a>
                                        </div>

                                    </div>
                                    <br/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="blog" style="padding: 140px 0 40px">
    <style>
        .owl-controls {
            margin-top: 5px !important;
        }
    </style>
    <section class="blue-bg hidden-xs hidden-sm">
        <div class="row">
            <div class="col-md-12 col-lg-12" style="background-color: #003399; fill-opacity: 5">
                <h3 style="text-align: center; color: white;">
                    Featured Blogs
                    <div class="fa fa-pencil-square-o"></div>
                </h3>

            </div>

        </div>
        <div class="container">
            <div class="owl-twitter owl-carousel col-md-12 col-lg-12">
                <div class="item" style="margin: 20px" ng-repeat="blog in blogs">
                    <div class="row">
                        <div class="col-md-3 col-lg-3" style="padding: 2% 5% 2% 6%">
                            <img src="img/blog2.png" class="circular" alt=""/>
                            <br/>
                            <br/>
                            <a class="btn btn-info btn-xs" style="background-color: #31B9FF">View Blogs</a>
                        </div>
                        <div class="item text-left col-md-8 col-lg-8">
                            <h4 class="white heading" style="cursor: pointer">{{blog.blog_title}} </h4>

                            <div class="row white light">
                                <div class="col-md-6 col-lg-6">
                                    Bless Fernandez
                                </div>
                                <div class="col-md-6 col-lg-6" style="text-align: right">
                                    November 9, 2015
                                </div>
                            </div>
                            <div class="row"
                                 style="border-top: 1px solid #ffffff; margin-top: 10px; border-bottom: 1px solid white">
                                <p class="white light"
                                   style="width: 90%; padding: 15px; color: #ffffff; font-size: 15px">
                                    You’ve heard of tiger moms. Free-range parents. Helicopter dads.
                                    But there’s more to parenting than the extremes—and our latest
                                    research discovered that many young adults want more involvement
                                    than they’re getting when it comes to their career. As LinkedIn’s
                                    Bring in Your Parents Day approaches, I’ve found myself thinking
                                    about all the ways in which my parents supported me growing up.
                                    I was lucky that they provided me with countless words of wisdom
                                    as I journeyed through…
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
</div>
<div class="container">
    <div class="row services">
        <div class="col-md-4">
            <div class="service">
                <div class="icon-holder">
                    <img src="img/icons/heart-blue.png" alt="" class="icon">
                </div>
                <h4 class="heading">Our Company</h4>

                <p class="description">Committed Direct Match Outsourcing is established by a commitment to provide
                    employment</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <div class="icon-holder">
                    <img src="img/icons/guru-blue.png" alt="" class="icon">
                </div>
                <h4 class="heading">Our Offer</h4>

                <p class="description">Direct Match Outsourcing offers services for Clients and Applicants for the BPO
                    and IT Industry</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <div class="icon-holder">
                    <img src="img/icons/weight-blue.png" alt="" class="icon">
                </div>
                <h4 class="heading">Contact Us</h4>

                <p class="description">Our office is strategically located in the heart of Makati. You can visit our
                    office at Unit 308. see map below for more details
                </p>
            </div>
        </div>
    </div>
</div>
<section id="team" class="section gray-bg">
    <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
        <div class="container">
            <div class="title text-center">
                <h2 class="margin-top">Our Company</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team text-left" style="height: 680px">
                        <div class="cover" style="background:url('img/team/team-cover1.jpg'); background-size:cover ;">
                            <div class="overlay text-center">
                                <h2 class="white">Committed</h2>
                                <h5 class="light light-white">We will do it!</h5>
                            </div>
                        </div>
                        <div class="title">
                            <div style="text-align: center">
                                <h4 style="color: #1967a9">Commitment</h4>
                            </div>
                            <div style="padding: 30px">
                                <h5 class="muted regular" style="font-size: 15px;">
                                    Direct Match Outsourcing is established by a commitment
                                    to provide employment opportunities to jobseekers in the
                                    IT and BPO industry. We aim to boost the morale and empower
                                    individuals by giving useful information and better
                                    understanding of the position that is suitable for
                                    maximization of skillsets.
                                    <br/>
                                    <br/>
                                    Teaching individuals to have a better career path by
                                    educating longevity and result-orientation in employment
                                    as a paramount goal is our main objective. Matching them
                                    to our esteemed partners to create transformational
                                    relationship is our mindset.
                                </h5>
                            </div>
                        </div>
                        <!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team text-left" style="height: 680px">
                        <div class="cover" style="background:url('img/team/team-cover2.jpg'); background-size:cover ;">
                            <div class="overlay text-center">
                                <h2 class="white">Passion</h2>
                                <h5 class="light light-white">For excellence!</h5>
                            </div>
                        </div>
                        <div class="title">
                            <div style="text-align: center">
                                <h4 style="color: #1967a9">Passionate</h4>
                            </div>
                            <div style="padding: 30px">
                                <h5 class="muted regular" style="font-size: 15px;">
                                    The company is passionate in understanding the business
                                    needs of our clients and aspires to meet target goals
                                    required to provide long-term solutions. Driven by good
                                    relationships with our stakeholders, we aim for continuous,
                                    quality-driven performance.
                                    <br/>
                                    <br/>
                                    Focusing on Entry-level agents, Bilingual agents, IT positions,
                                    Management and Top-level positions, we guarantee performance
                                    and accurate staffing through proper screening, evaluation and
                                    expertise. Through experience, we have developed a keen eye
                                    on measuring the individual’s capacity to complement the behavioral
                                    and technical competency of a position.
                                </h5>
                            </div>
                        </div>
                        <!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team text-left" style="height: 680px">
                        <div class="cover" style="background:url('img/team/team-cover3.jpg'); background-size:cover ;">
                            <div class="overlay text-center">
                                <h2 class="white">Delivery</h2>
                                <h5 class="light light-white">of the Best of Results!</h5>
                            </div>
                        </div>
                        <div class="title">
                            <div style="text-align: center">
                                <h4 style="color: #1967a9">Delivering the Best Results</h4>
                            </div>
                            <div style="padding: 30px">
                                <h5 class="muted regular" style="font-size: 15px;">
                                    We only deliver the best results since we believe that such
                                    is the fundamental part of business affiliations. The staff
                                    in Direct Match Outsourcing consists of highly talented,
                                    motivated, multi-skilled and experienced individuals who
                                    have specialized in Executive Hiring in the previous years
                                    after surpassing targets on entry-level and mid-level positions.
                                    The assurance of results to our business partners are based
                                    on proven deliveries. Thus, making us the epitome of how a
                                    business solutions provider should be.
                                </h5>
                            </div>
                        </div>
                        <!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>
        <div>
            <h5 style="text-align: center; color: #6f6f6f">
                For us, Success is Mandatory.</h5>
        </div>
    </div>
</section>
<section id="team" class="section gray-bg">
    <div class="hidden-md hidden-lg">
        <div class="col-sm-12 col-xs-12">
            <div class="container">
                <div class="row title text-center">
                    <h2 class="margin-top">Our Company</h2>
                </div>
                <div class="row">
                    <div>
                        <div class="team text-left" style="height: 550px">
                            <div class="cover"
                                 style="background:url('img/team/team-cover1.jpg'); background-size:cover ;">
                                <div class="overlay text-center">
                                    <h2 class="white">Committed</h2>
                                    <h5 class="light light-white">We will do it!</h5>
                                </div>
                            </div>
                            <div class="title">
                                <div style="text-align: center">
                                    <h4 style="color: #1967a9">Commitment</h4>
                                </div>
                                <div style="padding: 20px">
                                    <h5 class="muted regular" style="font-size: 12px;">
                                        Direct Match Outsourcing is established by a commitment
                                        to provide employment opportunities to jobseekers in the
                                        IT and BPO industry. We aim to boost the morale and empower
                                        individuals by giving useful information and better
                                        understanding of the position that is suitable for
                                        maximization of skillsets.
                                        <br/>
                                        <br/>
                                        Teaching individuals to have a better career path by
                                        educating longevity and result-orientation in employment
                                        as a paramount goal is our main objective. Matching them
                                        to our esteemed partners to create transformational
                                        relationship is our mindset.
                                    </h5>
                                </div>
                            </div>
                            <!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
                        </div>
                    </div>
                    <div>
                        <div class="team text-left" style="height: 570px">
                            <div class="cover"
                                 style="background:url('img/team/team-cover1.jpg'); background-size:cover ;">
                                <div class="overlay text-center">
                                    <h2 class="white">Passion</h2>
                                    <h5 class="light light-white">For excellence!</h5>
                                </div>
                            </div>
                            <div class="title">
                                <div style="text-align: center">
                                    <h4 style="color: #1967a9">Passionate</h4>
                                </div>
                                <div style="padding: 20px">
                                    <h5 class="muted regular" style="font-size: 12px;">
                                        The company is passionate in understanding the business
                                        needs of our clients and aspires to meet target goals
                                        required to provide long-term solutions. Driven by good
                                        relationships with our stakeholders, we aim for continuous,
                                        quality-driven performance.
                                        <br/>
                                        <br/>
                                        Focusing on Entry-level agents, Bilingual agents, IT positions,
                                        Management and Top-level positions, we guarantee performance
                                        and accurate staffing through proper screening, evaluation and
                                        expertise. Through experience, we have developed a keen eye
                                        on measuring the individual’s capacity to complement the behavioral
                                        and technical competency of a position.
                                    </h5>
                                </div>
                            </div>
                            <!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
                        </div>
                    </div>
                    <div>
                        <div class="team text-left" style="height: 530px">
                            <div class="cover"
                                 style="background:url('img/team/team-cover1.jpg'); background-size:cover ;">
                                <div class="overlay text-center">
                                    <h2 class="white">Delivery</h2>
                                    <h5 class="light light-white">of the Best of Results!</h5>
                                </div>
                            </div>
                            <div class="title">
                                <div style="text-align: center">
                                    <h4 style="color: #1967a9">Delivering the Best Results</h4>
                                </div>
                                <div style="padding: 20px">
                                    <h5 class="muted regular" style="font-size: 12px;">
                                        We only deliver the best results since we believe that such
                                        is the fundamental part of business affiliations. The staff
                                        in Direct Match Outsourcing consists of highly talented,
                                        motivated, multi-skilled and experienced individuals who
                                        have specialized in Executive Hiring in the previous years
                                        after surpassing targets on entry-level and mid-level positions.
                                        The assurance of results to our business partners are based
                                        on proven deliveries. Thus, making us the epitome of how a
                                        business solutions provider should be.
                                    </h5>
                                </div>
                            </div>
                            <!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
        </div>
        <div>
            <h4 style="text-align: center; color: #6f6f6f">
                For us, Success is Mandatory.</h4>
        </div>
    </div>
</section>
<section class="section" style="padding: 30px">
    <div id="googleMap" style="height: 350px; width: auto"></div>
</section>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>

            <h3 class="white">Contact Us</h3>

            <p style="font-size: 12px; color: #ffffff; text-align: center;">
                Our office is strategically located in the heart of Makati. <br/>
                You can visit our office at Unit 308 The Atrium of Makati, <br/>
                Makati Avenue, Makati City.
                <br/>
                <br/>
                You may contact us at our landline, <br/>
                (02) 893-1610 | 0917-527-8926 | 0917-527-9750 <br/>
                or <br/>
                View our map
                <a style="cursor: pointer"
                   onclick="window.open('http://maps.google.com/maps?&z=17&mrt=loc&t=m&q=14.55644538,121.02571115','name','width=800,height=500')">Here</a>
            </p>

            <form action="" class="popup-form">
                <input type="text" class="form-control form-white" placeholder="Full Name">
                <input type="email" class="form-control form-white" placeholder="Email Address">
                <input type="text" class="form-control form-white" placeholder="Contact Number">

                <div class="dropdown">
                    <button id="dLabel" class="form-control form-white dropdown" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Type of Inquiry
                    </button>
                    <ul class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="dLabel">
                        <li class="animated lightSpeedIn"><a href="#">Client Partnership</a></li>
                        <li class="animated lightSpeedIn"><a href="#">Job Inquiry</a></li>
                        <li class="animated lightSpeedIn"><a href="#">Support</a></li>
                        <li class="animated lightSpeedIn"><a href="#">Other</a></li>
                    </ul>
                </div>
                <textarea class="form-control form-white" placeholder="How can we help you"></textarea>
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <ul class="social-footer col-md-12 col-lg-12" style="text-align: center">
            <div>
                <h5 style="color: #ffffff">Follow Us for more!</h5>
            </div>
            <div>
                <li>
                    <a href="https://www.facebook.com/DirectMatchOutsourcingInc?fref=ts" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=fiQ3o7FJqFA" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                <li>
                    <a href="https://www.linkedin.com/company/direct-match-outsourcing-inc" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>

                </li>
            </div>
        </ul>
    </div>
    <div style="text-align: center; color: #ffffff">
        <br/>
        Direct Match Outsourcing Inc.Ⓒ 2015
    </div>
</footer>
<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/typewriter.js"></script>
<script src="js/jquery.onepagenav.js"></script>
<!--<div ng-if="jobs.length != 0 ">-->
    <script src="js/main.js"></script>
<!--</div>-->


</body>

</html>
